# Python virtual environment
env_quantspica/

# Bytecode / caches
__pycache__/
*.pyc
*.pyo

# Environment variables file (API keys)
.env

# VS Code settings (optional)
.vscode/

# Logs
*.log

# Docker temp files (if any)
*.dockerignore
